Dataset 1

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [11]:
df =pd.read_csv('/content/car.data', header = None)
df

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

1) Source of data

https://archive.ics.uci.edu/ml/machine-learning-databases/car/
2) Brief description of data


   Car Evaluation Database was derived from a simple hierarchical
   decision model originally developed for the demonstration of DEX
   (M. Bohanec, V. Rajkovic: Expert system for decision
   making. Sistemica 1(1), pp. 145-157, 1990.). The model evaluates

3) What is the target? 
Price

4) Is this a classification or regression problem?
Regression 
5) How many features?
Attributes: buying, maint, doors, persons, lug_boot, safety.
6) How many rows of data.
1728 rows × 7 columns
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
Exploring and Modeling

Dataset 2

In [13]:
df =pd.read_csv('/content/sobar-72.csv')
df

,behavior_sexualRisk,behavior_eating,behavior_personalHygine,intention_aggregation,intention_commitment,attitude_consistency,attitude_spontaneity,norm_significantPerson,norm_fulfillment,perception_vulnerability,perception_severity,motivation_strength,motivation_willingness,socialSupport_emotionality,socialSupport_appreciation,socialSupport_instrumental,empowerment_knowledge,empowerment_abilities,empowerment_desires,ca_cervix
0,10,13,12,4,7,9,10,1,8,7,3,14,8,5,7,12,12,11,8,1
1,10,11,11,10,14,7,7,5,5,4,2,15,13,7,6,5,5,4,4,1
2,10,15,3,2,14,8,10,1,4,7,2,7,3,3,6,11,3,3,15,1
3,10,11,10,10,15,7,7,1,5,4,2,15,13,7,4,4,4,4,4,1
4,8,11,7,8,10,7,8,1,5,3,2,15,5,3,6,12,5,4,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,10,14,14,10,15,6,7,5,15,14,10,15,13,9,8,12,12,11,9,0
68,10,12,15,10,15,8,8,5,15,14,8,12,14,11,7,13,15,11,14,0
69,10,8,11,6,10,6,4,3,13,9,8,14,12,9,7,11,12,10,10,0
70,9,12,13,10,13,6,6,5,14,13,10,13,12,11,8,12,11,13,15,0
71,10,14,14,6,12,7,8,5,15,12,10,10,13,11,9,14,13,15,15,0

1) Source of data
https://archive.ics.uci.edu/ml/machine-learning-databases/00537/

2) Brief description of data

Cervical Cancer Behavior Risk Data Set

3) What is the target?
ca_cervix (this is class attribute, 1=has cervical cancer, 0=no cervical cancer)
4) Is this a classification or regression problem?
Classification
5) How many features?
18 attributes
6) How many rows of data.
72 rows × 20 columns
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
Exploring and Modeling